*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}


.p1{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content:flex-start; */
    flex-direction: column;
    background-image: url("pngegg (2).png");
    background-position: cover;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: black;
    padding: 0px 20px;
}
.p1>.d1{
   position: relative;
   top: -4%;
    font-size: 10vw;
    opacity: 0.8;
     background: -webkit-linear-gradient(#bfbfbf,#0075D1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.p1>.d2{
    position: relative;
    top: 43%;
     font-size: 6vw;
     background: -webkit-linear-gradient(#eee, #333);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     opacity: 0.5;
 }
 




.p2{

    height: 130vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   

}
.nav{
    height: 20vh;
    width: 100vw;
   background-color: #040404;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  
}
.nav>.nav1{
    height: 20vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav1>button{
    height: 8vh;
    width: 6vw;
    background-color: #040404;
    border-radius: 4px;
    
   
}
.nav1>button>a{
    color: white;
    
}
.nav1>img{
    height: 22vh;
    width: 10vw;
   
}
.nav>.nav2{
    height: 20vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav2>button{
    height: 8vh;
    width: 6vw;
    background-color: #040404;
    color: white;
    font-size: 18px;
    border: none;
}

.p2>.dd{
    height: 110vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
}
.p2>.dd>.d1{
    height: 110vh;
    width: 50vw;
    background-color:#9AA6AC;
}
.p2>.dd>.d1>img{
    height: 110vh;
    width: 50vw;
    background-position: center;
}

.p2>.dd>.d2{
    height: 110vh;
    width: 50vw;
   background-color: #040404;
    
   
}
.p2>.dd>.d2>h1{
    color: white;
    font-size: 16px;
    padding-top: 150px;
    opacity: 0.6;
    padding-left: 60px;
    

}

.p2>.dd>.d2>h2{
    color: white;
    font-size: 30px;
    padding: 20px 0px;
    padding-left: 60px;
}

.p2>.dd>.d2>h3{
    color: white;
    font-size: 16px;
    padding: 10px 0px;
    padding-left: 60px;
}



.p3{
    background:#0E0908;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.p3>.e1{
    height: 100vh;
    width: 50vw;
 
}
.p3>.e1>h1{
    font-size: 22px;
    position: relative;
    top: 18%;
    left: 7%;
    color: white;
}
.p3>.e1>h1>span{
    font-size: 54px;
    background: -webkit-linear-gradient(#bfbfbf, #2476f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p3>.e1>h2{
    font-size: 22px;
    position: relative;
    top: 30%;
    left: 7%;
    color: white;
}
.p3>.e2{
    height: 100vh;
    width: 50vw;
    background-image: url(https://images.unsplash.com/photo-1617531653635-4b0e357c091b?q=80&w=1977&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.8);
   
}



.p4{
 
    height: 110vh;
    width: 100vw;
    background-color: #040404;
    
}

.p4>video{
    padding-top: 10px;
    height: 110vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.contact>h1{
    height: 10vh;
    width: 25vw;
    color: white;
    font-size: 40px;
    position: relative;
    top: -160;
    left: 8%;
    
}


.contact{
    height: 55vh;
    width: 100vw;
   position: relative;
   top: -80%;
   left:30%;
    padding: 10px 10px;
    z-index: 2;
}


.cd1{
    border-radius: 5px;
    padding: 20px;
    filter: brightness(0.7);
}

input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 5px; /* Some padding */ 
    border: 1px solid #fcfbfb; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    /* box-sizing: border-box; */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    /* background-color: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vh;
  }
  .btn{
    color: #fff;
    background: #000;
  }
  
 input[type=submit]:hover {
    background-color: #1268f2;
    mix-blend-mode: difference;
  }